body {
    margin:25px;
}

textarea {
    width:300px;
    height:100px;
}

#definition {
    font-style:italic;
}

#results {
    font-size:20px;
    border:1px solid black;
    display:inline-block;
    padding:20px;
    font-family:Consolas;
    margin-top:10px;
}
